name: test

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:

  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3

    - name: Set up Go
      uses: actions/setup-go@v3
      with:
        go-version: 1.20

    - name: Set up golangci-lint
      run: sudo snap install golangci-lint

    - name: Get YCSB
      uses: wei/wget@v1
      with:
        args: https://github.com/brianfrankcooper/YCSB/releases/download/0.17.0/ycsb-0.17.0.tar.gz

    - name: Set up YCSB
      run: tar xvfx ycsb-0.17.0.tar.gz

    - name: Test
      run: env CGO_ENABLED=0 YCSB_ROOT=`pwd`/ycsb-0.17.0 make test
